In [5]:
import pandas as pd
info=['name','roll','dept.']
info1=['humayan','09','CSE']
df=pd.DataFrame(zip(info,info1),columns=['student_info:','s_info1'], index=['s_name','s_roll','s_dept'])
print(df)
row,col=df.shape
print('\nrow=',row)
print('col=',col)
df1=pd.read_excel('Royal Knigths-17.xlsx')
print(df1)

       student_info:  s_info1
s_name          name  humayan
s_roll          roll       09
s_dept         dept.      CSE

row= 3
col= 2
    SL NO          Name Size  Number       NOTE       CONF:
0       1       HUMAYAN    L    11.0              NaN     A
1       2        SHAKIL   XL    20.0              NaN     A
2       3        SHANTO  NaN     NaN              NaN     A
3       4        AMANUR    L     7.0              NaN     A
4       5       T-SHOEL  2XL    10.0              NaN     A
5       6         ARMAN    M     7.0              NaN     A
6       7        BASHAR   XL    30.0              NaN     A
7       8    S.R SAIDUR    L    77.0              NaN     A
8       9      ASHRAFUL   XL    98.0              NaN     A
9      10       AL-AMIN   XL     5.0              NaN     A
10     11     S.A UJJAL    L     NaN              NaN     A
11     12   JR.JAHANGIR   XL    50.0              NaN     A
12     13   NURUL ISLAM    M    47.0              NaN     A
13     14     LITON RAJ  NaN     NaN              NaN     A
14     15        KAMRUL   XL     5.0              NaN     A
15     16        KHALIL    L    12.0              NaN     A
16     17         MAMUN    L    10.0              NaN   NaN
17     18  ARIYAN RUBEL   XL    11.0              NaN     A
18     19      MOHABBAT   XL     7.0              NaN     A
19     20    RAJU AHMED   XL    21.1              NaN   NaN
20     21     M.A.BARIK    M    66.0              NaN     A
21     22    RAJ RAZZAK    L    30.0              NaN     A
22     23         RABBI    M     NaN              NaN     A
23     24         HABIB    L    10.0              NaN     A
24     25      RJ RASEL    M    10.0              NaN   NaN
25     26    ASIF MAMUN  2XL    30.0              NaN   NaN
26     27        SHOHEL  NaN     NaN              NaN     A
27     28        NAJMUL  NaN     NaN              NaN     A